ul,li{ padding:0;margin:0;list-style:none}

.listBorderTop {
	margin-top: 20upx;
}

.listBorderBottom {
	margin-bottom: 20upx;
}
.breakLine{
	position: relative;
}
.breakLine::after{
	content: "";
	position: absolute;
	height: 1px ;
	background-color: #eee;
	width: 640upx;
	right: 0;
	bottom: 0px;
}
body{
	color: #333;
	font-size: 14px;
	/* box-sizing: border-box; */
}

.yi .imgBox{
	width: 33.33%;
	height: 33.33%;
	border:4upx solid #eee;
	position: absolute;
	top: 50%;
	left:50%;
	transform: translate(-50%,-50%);
}

.er .imgBox{
	width: 33.33%;
	height: 33.33%;
	border:4upx solid #eee;
	position: absolute;
	
}
.er .imgBox:first-of-type{
	top: 50%;
	left:16.66%;
	transform: translateY(-50%);
}
.er .imgBox:last-of-type{
	top: 50%;
	right:16.66%;
	transform: translateY(-50%);
}


.san .imgBox{
	width: 33.33%;
	height: 33.33%;
	border:4upx solid #eee;
	position: absolute;
	
}
.san .imgBox:nth-of-type(1){
	top: 33.34%;
	left:50%;
	transform: translate(-50%,-50%);
}
.san .imgBox:nth-of-type(2){
	top: 66.66%;
	left:16.66%;
	transform: translateY(-50%);
}
.san .imgBox:nth-of-type(3){
	top: 66.66%;
	right:16.66%;
	transform: translateY(-50%);
}


.si .imgBox{
	width: 33.33%;
	height: 33.33%;
	border:4upx solid #eee;
	position: absolute;
	
}
.si .imgBox:nth-of-type(1){
	top: 33.34%;
	left:16.66%;
	transform: translateY(-50%);
}
.si .imgBox:nth-of-type(2){
	top: 33.34%;
	right:16.66%;
	transform: translateY(-50%);
}
.si .imgBox:nth-of-type(3){
	top: 66.66%;
	left:16.66%;
	transform: translateY(-50%);
}
.si .imgBox:nth-of-type(4){
	top: 66.66%;
	right:16.66%;
	transform: translateY(-50%);
}


.wu .imgBox{
	width: 33.33%;
	height: 33.33%;
	border:4upx solid #eee;
	position: absolute;
	
}
.wu .imgBox:nth-of-type(1){
	top: 33.34%;
	left:16.66%;
	transform: translateY(-50%);
}
.wu .imgBox:nth-of-type(2){
	top: 33.34%;
	right:16.66%;
	transform: translateY(-50%);
}
.wu .imgBox:nth-of-type(3){
	top: 66.66%;
	left:0%;
	transform: translateY(-50%);
}
.wu .imgBox:nth-of-type(4){
	top: 66.66%;
	left:33.33%;
	transform: translateY(-50%);
}
.wu .imgBox:nth-of-type(5){
	top: 66.66%;
	right:0%;
	transform: translateY(-50%);
}


.liu .imgBox{
	width: 33.33%;
	height: 33.33%;
	border:4upx solid #eee;
	position: absolute;
	
}
.liu .imgBox:nth-of-type(1){
	top: 33.34%;
	left:0%;
	transform: translateY(-50%);
}
.liu .imgBox:nth-of-type(2){
	top: 33.34%;
	left:33.33%;
	transform: translateY(-50%);
}
.liu .imgBox:nth-of-type(3){
	top: 33.34%;
	right:0%;
	transform: translateY(-50%);
}
.liu .imgBox:nth-of-type(4){
	top: 66.66%;
	left:0%;
	transform: translateY(-50%);
}
.liu .imgBox:nth-of-type(5){
	top: 66.66%;
	left:33.33%;
	transform: translateY(-50%);
}
.liu .imgBox:nth-of-type(6){
	top: 66.66%;
	right:0%;
	transform: translateY(-50%);
}

.qi .imgBox,
.ba .imgBox,
.jiu .imgBox{
	
	float: left;
	width: 33.33%;
	height: 33.33%;
}
.qi .imgBox:nth-of-type(1),
.ba .imgBox:nth-of-type(1),
.jiu .imgBox:nth-of-type(1) {
	border-right:4upx solid #eee;
	border-bottom: 4upx solid #eee;
}
.qi .imgBox:nth-of-type(2),
.ba .imgBox:nth-of-type(2),
.jiu .imgBox:nth-of-type(2) {
	border-right:4upx solid #eee;
	border-bottom: 4upx solid #eee;
}
.qi .imgBox:nth-of-type(3),
.ba .imgBox:nth-of-type(3),
.jiu .imgBox:nth-of-type(3) {
	border-bottom: 4upx solid #eee;
}
.qi .imgBox:nth-of-type(4),
.ba .imgBox:nth-of-type(4),
.jiu .imgBox:nth-of-type(4) {
	border-right:4upx solid #eee;
	border-bottom: 4upx solid #eee;
}
.qi .imgBox:nth-of-type(5),
.ba .imgBox:nth-of-type(5),
.jiu .imgBox:nth-of-type(5) {
	border-right:4upx solid #eee;
	border-bottom: 4upx solid #eee;
}
.qi .imgBox:nth-of-type(6),
.ba .imgBox:nth-of-type(6),
.jiu .imgBox:nth-of-type(6) {
	border-bottom: 4upx solid #eee;
}
.qi .imgBox:nth-of-type(7),
.ba .imgBox:nth-of-type(7),
.jiu .imgBox:nth-of-type(7) {
	border-right:4upx solid #eee;
	
}
.qi .imgBox:nth-of-type(8),
.ba .imgBox:nth-of-type(8),
.jiu .imgBox:nth-of-type(8) {
	border-right:4upx solid #eee;
}
.qi .imgBox:nth-of-type(9),
.ba .imgBox:nth-of-type(9),
.jiu .imgBox:nth-of-type(9) {
	
}

.imgBox{
	box-sizing: border-box;
}